{{ $page := . }}
{{ $variant := "single" }}
{{ if reflect.IsMap . }}
    {{ $page = .page }}
    {{ $variant = .variant | default "single" }}
{{ end }}

{{ $result := dict "exists" false "permalink" nil "srcset" "" "sizes" "" "width" 0 "height" 0 }}
{{ $imageField := default "image" $page.Site.Params.featuredImageField }}
{{ $imageValue := index $page.Params $imageField }}

{{ if $imageValue }}
    {{ $url := urls.Parse $imageValue }}
    {{ if or (eq $url.Scheme "http") (eq $url.Scheme "https") }}
        {{ $result = dict "exists" true "permalink" $imageValue "srcset" "" "sizes" "" "width" 0 "height" 0 }}
    {{ else }}
        {{ $resource := $page.Resources.GetMatch (printf "%s" ($imageValue | safeURL)) }}
        {{ if $resource }}
            {{ if or (eq $variant "card") (eq $variant "taxonomy") }}
                {{ $fillSpec := $page.Site.Params.images.cover.cardFill | default "640x300 Center q85" }}
                {{ if eq $variant "taxonomy" }}
                    {{ $fillSpec = $page.Site.Params.images.cover.taxonomyFill | default $fillSpec }}
                {{ end }}
                {{ with $resource.Fill $fillSpec }}
                    {{ $result = dict "exists" true "permalink" .RelPermalink "srcset" "" "sizes" "" "width" 0 "height" 0 }}
                {{ end }}
            {{ else }}
                {{ $result = dict "exists" true "permalink" $resource.RelPermalink "srcset" "" "sizes" "" "width" 0 "height" 0 }}
            {{ end }}
        {{ else }}
            {{ $result = dict "exists" true "permalink" (relURL $imageValue) "srcset" "" "sizes" "" "width" 0 "height" 0 }}
        {{ end }}
    {{ end }}
{{ end }}

{{ return $result }}
