{{ with .Site.Params.comments.twikoo }}
<section class="comments-card comments-card--twikoo">
    <div id="tcomment"></div>
    <script src="{{ .jsUrl | default "https://cdn.jsdelivr.net/npm/twikoo@1.7.3/dist/twikoo.min.js" }}"></script>
    {{ $lang := cond (eq $.Site.Language.Lang "zh-cn") "zh-CN" "en-US" }}
    <script>
        twikoo.init({
            envId: '{{ .envId }}',
            el: '#tcomment',
            lang: '{{ .lang | default $lang }}',
            path: '{{ .path | default $.RelPermalink }}',
            {{ with .region }}region: '{{ . }}',{{ end }}
        });
    </script>
</section>
{{ end }}